<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:zksp="http://www.zkoss.org/2008/zkspring/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd">
  <zksp:zk-config />
  <bean id="windowManager" class="org.jtalks.poulpe.web.controller.WindowManagerImpl" scope="singleton" />
  <bean id="dialogManager" class="org.jtalks.poulpe.web.controller.DialogManagerImpl" scope="singleton" />

  <bean id="branchPermissionManagementVm" scope="desktop"
        class="org.jtalks.poulpe.web.controller.branch.BranchPermissionManagementVm">
    <constructor-arg index="0">
      <bean class="org.jtalks.poulpe.service.mock.MockBranchService" />
    </constructor-arg>
  </bean>

  <!--Declaration of presenters -->
  <bean id="branchEditorPresenter" class="org.jtalks.poulpe.web.controller.branch.BranchEditorPresenter"
        scope="prototype">
    <property name="branchService" ref="branchService" />
  </bean>

  <bean id="branchPresenter" class="org.jtalks.poulpe.web.controller.branch.BranchPresenter" scope="prototype">
    <property name="sectionService" ref="sectionService" />
    <property name="branchService" ref="branchService" />
    <property name="sectionPresenter" ref="sectionPresenter" />
  </bean>

  <bean id="componentItemPresenter" class="org.jtalks.poulpe.web.controller.component.items.ItemPresenter"
        scope="prototype">
    <property name="componentService" ref="componentService" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="componentListPresenter" class="org.jtalks.poulpe.web.controller.component.ListPresenter" scope="prototype">
    <property name="componentService" ref="componentService" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="sectionPresenter" class="org.jtalks.poulpe.web.controller.section.SectionPresenter" scope="session">
    <property name="sectionService" ref="sectionService" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="deleteSectionDialogPresenter" class="org.jtalks.poulpe.web.controller.section.DeleteSectionDialogPresenter"
        scope="prototype">
    <property name="sectionService" ref="sectionService" />
  </bean>

  <bean id="topicTypeListPresenter" class="org.jtalks.poulpe.web.controller.topictype.TopicTypeListPresenter"
        scope="prototype">
    <property name="topicTypeService" ref="topicTypeService" />
    <property name="windowManager" ref="windowManager" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="topicTypePresenter" class="org.jtalks.poulpe.web.controller.topictype.TopicTypePresenter" scope="prototype">
    <property name="topicTypeService" ref="topicTypeService" />
    <property name="windowManager" ref="windowManager" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="usersListPresenter" class="org.jtalks.poulpe.web.controller.users.UsersListPresenter" scope="prototype">
    <property name="userService" ref="userService" />
    <property name="windowManager" ref="windowManager" />
  </bean>

  <bean id="userPresenter" class="org.jtalks.poulpe.web.controller.users.UserPresenter" scope="prototype">
    <property name="userService" ref="userService" />
    <property name="windowManager" ref="windowManager" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="userBanningPresenter" class="org.jtalks.poulpe.web.controller.userbanning.UserBanningPresenter">
    <property name="userService" ref="userService" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="moderationDialogPresenter"
        class="org.jtalks.poulpe.web.controller.section.moderation.ModerationDialogPresenter">
    <property name="branchService" ref="branchService" />
    <property name="userService" ref="userService" />
    <property name="dialogManager" ref="dialogManager"></property>
  </bean>

  <bean id="groupPresenter" class="org.jtalks.poulpe.web.controller.group.GroupPresenter" scope="prototype">
    <property name="groupService" ref="groupService" />
    <property name="dialogManager" ref="dialogManager" />
  </bean>

  <bean id="editGroupDialogPresenter" class="org.jtalks.poulpe.web.controller.group.EditGroupDialogPresenter"
        scope="prototype">
    <property name="groupService" ref="groupService" />
  </bean>

</beans>
